<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections>
      <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
  <connectionStrings>
    <add name="TodoReference" connectionString="Server=WIN7DEV1-PC\JHAIGHDEV1;Database=TodoReference;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
   </connectionStrings>
  <akka>
    <hocon>
      <![CDATA[
          akka {  
            log-config-on-start = on
            stdout-loglevel = INFO
            loglevel = INFO
            actor 
            {
                  provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        
                  debug {  
                    receive = on 
                    autoreceive = on
                    lifecycle = on
                    event-stream = on
                    unhandled = on
                  }
            }
            
            persistence
            {
                journal 
                {
                    plugin = "akka.persistence.journal.sql-server"
                    sql-server 
                    {
                        class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                        schema-name = dbo
                        auto-initialize = on
                        connection-string = "Server=.\\SQLEXPRESS;Database=TodoPersist;Integrated Security=True"
                    }
                } 
            }
            
            remote 
            {
                helios.tcp 
                {
                    #will be populated with a dynamic host-name at runtime if left uncommented
                    #public-hostname = "POPULATE STATIC IP HERE"
		                port = 8080
		                hostname = localhost
                    #hostname = 0.0.0.0 // wildcard will bind to whatever the server ip is /aka all IPv4 addresses on the local machine
                }
            }
        }
      ]]>
    </hocon>
  </akka>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>