<div class="jumbotron">
    <h1>Todo Micro Service</h1>
    <p class="lead">This microservice is built with AKKA.NET.</p>
    <p><a href="http://getakka.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>There is one function in this application that will insert a Todo into the system via the Todo micro service.</p>
        
        <button class="btn btn-default">@Html.ActionLink(linkText: "Create New", actionName: "Create", controllerName: "todo")</button>
        
    </div>
    
</div>
