<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <connectionStrings>
    <add name="TodoReference" connectionString="Server=WIN7DEV1-PC\JHAIGHDEV1;Database=TodoReference;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <akka>
    <hocon>
      <![CDATA[
          akka {  
            log-config-on-start = on
            stdout-loglevel = INFO
            loglevel = INFO
            actor 
            {
                  provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
        
                  debug {  
                    receive = on 
                    autoreceive = on
                    lifecycle = on
                    event-stream = on
                    unhandled = on
                  }
            }
            
            persistence
            {
                journal 
                {
                    plugin = "akka.persistence.journal.sql-server"
                    sql-server 
                    {
                        class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                        schema-name = dbo
                        auto-initialize = on
                        connection-string = "Server=.\\SQLEXPRESS;Database=TodoPersist;Integrated Security=True"
                    }
                } 
            }
            
            remote 
            {
                log-remote-lifecycle-events = DEBUG
            
                helios.tcp 
                {
                    transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								    applied-adapters = []
								    transport-protocol = tcp
								    #will be populated with a dynamic host-name at runtime if left uncommented
                    #public-hostname = "POPULATE STATIC IP HERE"
		                port = 0
		                hostname = "127.0.0.1"
                    #hostname = 0.0.0.0 // wildcard will bind to whatever the server ip is /aka all IPv4 addresses on the local machine
                }
            }
            
            cluster {
							#will inject this node as a self-seed node at run-time
						#	seed-nodes = ["akka.tcp://system1@127.0.0.1:4053"] #manually populate other seed nodes here, i.e. "akka.tcp://lighthouse@127.0.0.1:4053", "akka.tcp://lighthouse@127.0.0.1:4044"
							//roles = [web]
               seed-nodes = [
                "akka.tcp://system1@127.0.0.1:2551",
                "akka.tcp://system1@127.0.0.1:2552"]
							auto-down-unreachable-after = 10s
						}
        }
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>