<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <connectionStrings>
    <add name="TodoReference" connectionString="Server=WIN7DEV1-PC\JHAIGHDEV1;Database=TodoReference;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <akka>
    <hocon>
      <![CDATA[
          akka {  
            log-config-on-start = on
            stdout-loglevel = DEBUG
            loglevel = INFO
            actor 
            {
                  provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                   deployment {
								      /todogroup {
									      router = consistent-hashing-group
                        routees.paths = ["/user/todocoordinator"]
									      virtual-nodes-factor = 8
                        #nr-of-instances = 3
									      cluster {
											      enabled = on
											      max-nr-of-instances-per-node = 2
											      allow-local-routees = on
											      use-role = program
									      }
								      }
                  }
                  debug {  
                    receive = on 
                    autoreceive = on
                    lifecycle = on
                    event-stream = on
                    unhandled = on
                  }
            }
            
            remote 
            {
                log-remote-lifecycle-events = DEBUG
            
                helios.tcp 
                {
                    transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								    applied-adapters = []
								    transport-protocol = tcp
								    #will be populated with a dynamic host-name at runtime if left uncommented
                    #public-hostname = "POPULATE STATIC IP HERE"
		                port = 16666
		                hostname = "127.0.0.1"
                    #hostname = 0.0.0.0 // wildcard will bind to whatever the server ip is /aka all IPv4 addresses on the local machine
                }
            }
            
            cluster {
							#will inject this node as a self-seed node at run-time
							roles = [program]
               seed-nodes = [
                "akka.tcp://todosystem@127.0.0.1:2551",
                "akka.tcp://todosystem@127.0.0.1:2552"
                ]
							auto-down-unreachable-after = 10s
						}
        }
      ]]>
    </hocon>
    <!--<hocon>
      <![CDATA[
          akka {  
                log-config-on-start = on
                stdout-loglevel = INFO
                loglevel = INFO
                actor {
                    provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                #    deployment {
								#      /todogroup {
								#	      router = consistent-hashing-group
                #        routees.paths = ["/user/todocoordinator"]
								#	      virtual-nodes-factor = 8
                #        #nr-of-instances = 3
								#	      cluster {
								#			      enabled = on
								#			      max-nr-of-instances-per-node = 2
								#			      allow-local-routees = on
											    #  use-role = program
								#	      }
								#      }
                #    }
                      
							    } # end actor
                    debug {  
                      receive = on 
                      autoreceive = on
                      lifecycle = on
                      event-stream = on
                      unhandled = on
                    }
                }
                remote {
                    log-remote-lifecycle-events = DEBUG
                    log-received-messages = on
                    helios.tcp {
		                #port = 0 ##8090
		                #hostname = 127.0.0.1
                    transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								    applied-adapters = []
								    transport-protocol = tcp
								    #will be populated with a dynamic host-name at runtime if left uncommented
								    #public-hostname = "POPULATE STATIC IP HERE"
								    hostname = "127.0.0.1"
								    port = 0
                    }
                }
                
                cluster {
							    #will inject this node as a self-seed node at run-time
							    seed-nodes = [
                  "akka.tcp://todosystem@127.0.0.1:2551",
                  "akka.tcp://todosystem@127.0.0.1:2552"
                  ] #manually populate other seed nodes here, i.e. "akka.tcp://lighthouse@127.0.0.1:4053", "akka.tcp://lighthouse@127.0.0.1:4044"
							    roles = [program]
							    auto-down-unreachable-after = 10s
						    }
            }
      ]]>
    </hocon>-->
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>